body {
  margin: 0;
  font-family: Helvetica, sans-serif;
}

#header {
  background-color: black;
  color: white;

  img {
    float: left;
    margin: 1em;
  }

  h1, img {
    cursor: pointer;
  }

  h1 {
    margin-top: 0.5em;
  }

  #search {
    font-size: x-large;
    height: 1.5em;
    margin-top: 0.75em;
  }
}